# Librerias que se necesitaran y la importaci√≥n del CSV

In [2]:
import pandas as pd
import numpy as np
import sys
import sklearn as sk
dataframe = pd.read_csv("C:/Users/user/Desktop/Asset_modelisation_table.csv")

In [3]:
dataframe.head()

,Asset,failure_bin,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum
0,A054380,0,493,25854.262163,398.837028,0,0,0,10,0,0,0,0,0,0,0,23,0,0
1,A682501,1,33,28632.408598,2542.403701,0,0,0,113,0,0,0,0,278,0,0,348,0,0
2,A015811,0,25,33220.347340,2058.956038,0,0,0,251,6,0,111,56,229,0,0,142,0,0
3,A333832,0,50,28452.683939,2578.582041,0,0,0,274,1,0,0,43,448,0,0,807,0,7
4,A741778,0,573,25789.491263,224.655824,4,0,0,17,4,0,0,4,0,0,0,0,0,0

In [4]:
dataframe_R = dataframe[['R707_Quantity_sum', 'R364_Quantity_sum', 'R565_Quantity_sum', 'R044_Quantity_sum', 'R783_Quantity_sum', 'R193_Quantity_sum', 'R446_Quantity_sum','R575_Quantity_sum', 'R064_Quantity_sum', 'R119_Quantity_sum', 'R396_Quantity_sum', 'R606_Quantity_sum', 'R417_Quantity_sum']]
dataframe["Quantity_sum"] = dataframe_R.sum(axis = 1, skipna = True)
print(dataframe.head(10))

     Asset  failure_bin  Time_begin_exploitation    Initial_km        nb_km  \
0  A054380            0                      493  25854.262163   398.837028
1  A682501            1                       33  28632.408598  2542.403701
2  A015811            0                       25  33220.347340  2058.956038
3  A333832            0                       50  28452.683939  2578.582041
4  A741778            0                      573  25789.491263   224.655824
5  A167193            0                        6  29592.009903  1369.817004
6  A562941            1                        2  27742.829888  1840.427191
7  A709771            0                      381  25973.592334   976.815193
8  A908935            0                        2  29271.364773  2730.589424
9  A003146            0                      617  25836.172992   230.782801

   R044_Quantity_sum  R064_Quantity_sum  R119_Quantity_sum  R193_Quantity_sum  \
0                  0                  0                  0                 10
1                  0                  0                  0                113
2                  0                  0                  0                251
3                  0                  0                  0                274
4                  4                  0                  0                 17
5                  0                  0                  0                 13
6                  0                  0                  0                 38
7                  0                  0                  0                 99
8                  0                  0                  0                198
9                  0                  0                  0                 29

   R364_Quantity_sum  R396_Quantity_sum  R417_Quantity_sum  R446_Quantity_sum  \
0                  0                  0                  0                  0
1                  0                  0                  0                  0
2                  6                  0                111                 56
3                  1                  0                  0                 43
4                  4                  0                  0                  4
5                  0                  0                 49                  4
6                 33                  0                 73                 17
7                  1                  0                  0                  3
8                 14                  0                  0                  0
9                  1                  0                  0                  0

   R565_Quantity_sum  R575_Quantity_sum  R606_Quantity_sum  R707_Quantity_sum  \
0                  0                  0                  0                 23
1                278                  0                  0                348
2                229                  0                  0                142
3                448                  0                  0                807
4                  0                  0                  0                  0
5                301                  0                  0                 63
6                  0                  0                  0                162
7                100                  0                  0                 27
8                  0                  0                  0                567
9                  0                  0                  0                  0

   R782_Quantity_sum  R783_Quantity_sum  Quantity_sum
0                  0                  0            33
1                  0                  0           739
2                  0                  0           795
3                  0                  7          1580
4                  0                  0            29
5                  0                  0           430
6                  0                  0           323
7                  0                  0           230
8                  0                  0           779
9                  0                  0            30

# Si python es una versi√≥n menor a 3.0 realizar conversi√≥n de informaci√≥n

In [5]:
def coerce_to_unicode(x):
            if sys.version_info < (3, 0):
                if isinstance(x, str):
                    return str(x,'utf-8')
                else:
                    return str(x)
            else:
                return str(x)

# Listar caracteristicas por identidades

In [6]:
categorical_features = []
numerical_features = ['R707_Quantity_sum', 'R782_Quantity_sum','R364_Quantity_sum', 'R565_Quantity_sum', 'R044_Quantity_sum', 'nb_km', 'R783_Quantity_sum', 'R193_Quantity_sum', 'R446_Quantity_sum','Quantity_sum', 'Time_begin_exploitation', 'Initial_km', 'R575_Quantity_sum', 'R064_Quantity_sum', 'R119_Quantity_sum', 'R396_Quantity_sum', 'R606_Quantity_sum', 'R417_Quantity_sum']
text_features = []
# Detecta categor√≠as
for feature in categorical_features:
    dataframe[feature] = dataframe[feature].apply(coerce_to_unicode)
# Detecta Texto
for feature in text_features:
    dataframe[feature] = dataframe[feature].apply(coerce_to_unicode)
# Detecta numeros
for feature in numerical_features:
    # Detecta fechas
    if dataframe[feature].dtype == np.dtype('M8[ns]'):
        dataframe[feature] = dt.datetime(dataframe[feature]).timestamp()
# Detecta numeros reales (flotantes)
    else:
        dataframe[feature] = dataframe[feature].astype('double')

In [7]:
dataframe[feature].head()

0      0.0
1      0.0
2    111.0
3      0.0
4      0.0
Name: R417_Quantity_sum, dtype: float64

In [8]:
dataframe.head()

,Asset,failure_bin,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum
0,A054380,0,493.0,25854.262163,398.837028,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0,0.0,33.0
1,A682501,1,33.0,28632.408598,2542.403701,0.0,0.0,0.0,113.0,0.0,0.0,0.0,0.0,278.0,0.0,0.0,348.0,0.0,0.0,739.0
2,A015811,0,25.0,33220.347340,2058.956038,0.0,0.0,0.0,251.0,6.0,0.0,111.0,56.0,229.0,0.0,0.0,142.0,0.0,0.0,795.0
3,A333832,0,50.0,28452.683939,2578.582041,0.0,0.0,0.0,274.0,1.0,0.0,0.0,43.0,448.0,0.0,0.0,807.0,0.0,7.0,1580.0
4,A741778,0,573.0,25789.491263,224.655824,4.0,0.0,0.0,17.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0

In [9]:
target_map = {u'1': 1, u'0': 0}
if 'failure_bin' in dataframe:
    dataframe['__target__'] = dataframe['failure_bin'].map(str).map(target_map)
    del dataframe['failure_bin']
# Remove rows for which the target is unknown.
    dataframe = dataframe[~dataframe['__target__'].isnull()]

In [10]:
dataframe.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum,__target__
0,A054380,493.0,25854.262163,398.837028,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,0.0,0.0,33.0,0
1,A682501,33.0,28632.408598,2542.403701,0.0,0.0,0.0,113.0,0.0,0.0,0.0,0.0,278.0,0.0,0.0,348.0,0.0,0.0,739.0,1
2,A015811,25.0,33220.347340,2058.956038,0.0,0.0,0.0,251.0,6.0,0.0,111.0,56.0,229.0,0.0,0.0,142.0,0.0,0.0,795.0,0
3,A333832,50.0,28452.683939,2578.582041,0.0,0.0,0.0,274.0,1.0,0.0,0.0,43.0,448.0,0.0,0.0,807.0,0.0,7.0,1580.0,0
4,A741778,573.0,25789.491263,224.655824,4.0,0.0,0.0,17.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,0

# Se separa en 80/20 el dataset para el entrenamiento y para hacer la prueba con el algoritmo

In [11]:
ml_dataset_copy = dataframe.copy()
train = ml_dataset_copy.sample(frac = 0.80, random_state = 0)
test = ml_dataset_copy.drop(train.index)

print('Train data has %i rows and %i columns' %(train.shape[0], train.shape[1]))
print('Test data has %i rows and %i columns' % (test.shape[0], test.shape[1]))

Train data has 1444 rows and 20 columns
Test data has 361 rows and 20 columns

In [12]:
train.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum,__target__
1715,A125623,153.0,33701.460916,1350.852552,0.0,0.0,0.0,220.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,216.0,0.0,0.0,451.0,1
724,A082360,85.0,27146.470791,1769.529314,0.0,0.0,1.0,17.0,1.0,0.0,0.0,20.0,214.0,0.0,0.0,220.0,0.0,0.0,473.0,0
206,A674688,135.0,25788.907741,2139.773783,0.0,0.0,0.0,1.0,6.0,0.0,7.0,5.0,0.0,4.0,0.0,237.0,0.0,0.0,260.0,0
1505,A291489,635.0,26373.304644,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,172.0,0.0,0.0,0.0,0.0,0.0,173.0,0
342,A127134,159.0,28646.413117,1935.541216,0.0,0.0,0.0,0.0,4.0,0.0,0.0,2.0,35.0,0.0,0.0,641.0,0.0,0.0,682.0,0

In [13]:
test.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum,__target__
11,A068651,4.0,28339.772506,2812.282450,1.0,0.0,0.0,93.0,22.0,0.0,0.0,14.0,193.0,0.0,0.0,895.0,0.0,33.0,1251.0,1
23,A462792,571.0,26346.170889,191.395092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,0.0,0.0,96.0,0
24,A554078,52.0,30505.804761,2360.636716,1.0,0.0,0.0,16.0,2.0,0.0,0.0,4.0,225.0,0.0,0.0,373.0,0.0,18.0,639.0,0
25,A274995,391.0,26175.490815,937.135723,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,101.0,0
28,A597289,33.0,30432.572798,2737.008161,0.0,0.0,0.0,71.0,5.0,0.0,3.0,0.0,254.0,0.0,0.0,439.0,0.0,0.0,772.0,1

In [14]:
drop_rows_when_missing = []
impute_when_missing = [{'impute_with': u'MEAN', 'feature': u'R707_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R364_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R565_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R044_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'nb_km'}, {'impute_with': u'MEAN', 'feature': u'R783_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R193_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R446_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'Time_begin_exploitation'}, {'impute_with': u'MEAN', 'feature': u'Initial_km'}, {'impute_with': u'MEAN', 'feature': u'R575_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R064_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R119_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R396_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R606_Quantity_sum'}, {'impute_with': u'MEAN', 'feature': u'R417_Quantity_sum'}]
# Features for which we drop rows with missing values"
#borrar casillas vacias
for feature in drop_rows_when_missing:
    train = train[train[feature].notnull()]
    test = test[test[feature].notnull()]
    print('Dropped missing records in %s' % feature)
#llena campos vacios input when missing   
# Features for which we impute missing values"
for feature in impute_when_missing:
    if feature['impute_with'] == 'MEAN':
        v = train[feature['feature']].mean()
    elif feature['impute_with'] == 'MEDIAN':
        v = train[feature['feature']].median()
    elif feature['impute_with'] == 'CREATE_CATEGORY':
        v = 'NULL_CATEGORY'
    elif feature['impute_with'] == 'MODE':
        v = train[feature['feature']].value_counts().index[0]
    elif feature['impute_with'] == 'CONSTANT':
        v = feature['value']
    train[feature['feature']] = train[feature['feature']].fillna(v)
    test[feature['feature']] = test[feature['feature']].fillna(v)
    print('Imputed missing values in feature %s with value %s' %(feature['feature'], coerce_to_unicode(v)))

Imputed missing values in feature R707_Quantity_sum with value 272.665512465374
Imputed missing values in feature R364_Quantity_sum with value 9.93836565096953
Imputed missing values in feature R565_Quantity_sum with value 133.46952908587258
Imputed missing values in feature R044_Quantity_sum with value 0.41897506925207756
Imputed missing values in feature nb_km with value 1829.6886155062641
Imputed missing values in feature R783_Quantity_sum with value 2.168282548476454
Imputed missing values in feature R193_Quantity_sum with value 53.01869806094183
Imputed missing values in feature R446_Quantity_sum with value 12.288781163434903
Imputed missing values in feature Quantity_sum with value 516.8476454293628
Imputed missing values in feature Time_begin_exploitation with value 122.93628808864266
Imputed missing values in feature Initial_km with value 28957.316386520022
Imputed missing values in feature R575_Quantity_sum with value 0.28185595567867033
Imputed missing values in feature R064_Quantity_sum with value 0.00554016620498615
Imputed missing values in feature R119_Quantity_sum with value 4.711218836565097
Imputed missing values in feature R396_Quantity_sum with value 0.06717451523545706
Imputed missing values in feature R606_Quantity_sum with value 0.675207756232687
Imputed missing values in feature R417_Quantity_sum with value 27.138504155124654

In [15]:
train.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum,__target__
1715,A125623,153.0,33701.460916,1350.852552,0.0,0.0,0.0,220.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,216.0,0.0,0.0,451.0,1
724,A082360,85.0,27146.470791,1769.529314,0.0,0.0,1.0,17.0,1.0,0.0,0.0,20.0,214.0,0.0,0.0,220.0,0.0,0.0,473.0,0
206,A674688,135.0,25788.907741,2139.773783,0.0,0.0,0.0,1.0,6.0,0.0,7.0,5.0,0.0,4.0,0.0,237.0,0.0,0.0,260.0,0
1505,A291489,635.0,26373.304644,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,172.0,0.0,0.0,0.0,0.0,0.0,173.0,0
342,A127134,159.0,28646.413117,1935.541216,0.0,0.0,0.0,0.0,4.0,0.0,0.0,2.0,35.0,0.0,0.0,641.0,0.0,0.0,682.0,0

In [16]:
test.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum,__target__
11,A068651,4.0,28339.772506,2812.282450,1.0,0.0,0.0,93.0,22.0,0.0,0.0,14.0,193.0,0.0,0.0,895.0,0.0,33.0,1251.0,1
23,A462792,571.0,26346.170889,191.395092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,0.0,0.0,96.0,0
24,A554078,52.0,30505.804761,2360.636716,1.0,0.0,0.0,16.0,2.0,0.0,0.0,4.0,225.0,0.0,0.0,373.0,0.0,18.0,639.0,0
25,A274995,391.0,26175.490815,937.135723,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,101.0,0
28,A597289,33.0,30432.572798,2737.008161,0.0,0.0,0.0,71.0,5.0,0.0,3.0,0.0,254.0,0.0,0.0,439.0,0.0,0.0,772.0,1

In [17]:
rescale_features = {u'R707_Quantity_sum': u'AVGSTD', u'Quantity_sum': u'AVGSTD', u'R364_Quantity_sum': u'AVGSTD', u'R565_Quantity_sum': u'AVGSTD', u'R044_Quantity_sum': u'AVGSTD', u'R783_Quantity_sum': u'AVGSTD', u'R193_Quantity_sum': u'AVGSTD', u'R446_Quantity_sum': u'AVGSTD',u'nb_km': u'AVGSTD', u'Time_begin_exploitation': u'AVGSTD', u'R606_Quantity_sum': u'AVGSTD', u'Initial_km': u'AVGSTD', u'R575_Quantity_sum': u'AVGSTD', u'R064_Quantity_sum': u'AVGSTD', u'R119_Quantity_sum': u'AVGSTD', u'R396_Quantity_sum': u'AVGSTD', u'R417_Quantity_sum': u'AVGSTD'}
for (feature_name, rescale_method) in rescale_features.items():
    if rescale_method == 'MINMAX':
        _min = train[feature_name].min()
        _max = train[feature_name].max()
        scale = _max - _min
        shift = _min
    else:
        shift = train[feature_name].mean()
        scale = train[feature_name].std()
    if scale == 0.:
        del train[feature_name]
        del test[feature_name]
        print('Feature %s was dropped because it has no variance' % feature_name)
    else:
        print('Rescaled %s' % feature_name)
        train[feature_name] = (train[feature_name] -shift).astype(np.float64) / scale
        test[feature_name] = (test[feature_name] - shift).astype(np.float64) / scale

Rescaled R707_Quantity_sum
Rescaled Quantity_sum
Rescaled R364_Quantity_sum
Rescaled R565_Quantity_sum
Rescaled R044_Quantity_sum
Rescaled R783_Quantity_sum
Rescaled R193_Quantity_sum
Rescaled R446_Quantity_sum
Rescaled nb_km
Rescaled Time_begin_exploitation
Rescaled R606_Quantity_sum
Rescaled Initial_km
Rescaled R575_Quantity_sum
Rescaled R064_Quantity_sum
Rescaled R119_Quantity_sum
Rescaled R396_Quantity_sum
Rescaled R417_Quantity_sum

In [18]:
train.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum,__target__
1715,A125623,0.181631,2.056021,-0.113556,-0.114731,-0.026316,-0.070410,1.684217,-0.395511,-0.026316,-0.228467,0.095390,-0.489576,-0.105089,-0.073344,-0.219919,0.0,-0.259909,-0.149514,1
724,A082360,-0.229194,-0.784786,-0.014267,-0.114731,-0.026316,-0.055465,-0.363294,-0.355715,-0.026316,-0.228467,0.271309,0.295392,-0.105089,-0.073344,-0.204395,0.0,-0.259909,-0.099561,0
206,A674688,0.072883,-1.373128,0.073537,-0.114731,-0.026316,-0.070410,-0.524674,-0.156733,-0.026316,-0.169537,-0.256446,-0.489576,1.386292,-0.073344,-0.138418,0.0,-0.259909,-0.583200,0
1505,A291489,3.093656,-1.119861,-0.433912,-0.114731,-0.026316,-0.070410,-0.534760,-0.355715,-0.026316,-0.228467,-0.432364,0.141333,-0.105089,-0.073344,-1.058218,0.0,-0.259909,-0.780742,0
342,A127134,0.217881,-0.134740,0.025103,-0.114731,-0.026316,-0.070410,-0.534760,-0.236325,-0.026316,-0.228467,-0.361996,-0.361194,-0.105089,-0.073344,1.429510,0.0,-0.259909,0.374996,0

In [19]:
test.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum,__target__
11,A068651,-0.718559,-0.267632,0.233023,0.159106,-0.026316,-0.07041,0.403262,0.480009,-0.026316,-0.228467,0.060207,0.218362,-0.105089,-0.073344,2.415286,0.0,3.695756,1.666970,1
23,A462792,2.706997,-1.131620,-0.388522,-0.114731,-0.026316,-0.07041,-0.534760,-0.395511,-0.026316,-0.228467,-0.432364,-0.489576,-0.105089,-0.073344,-0.685641,0.0,-0.259909,-0.955579,0
24,A554078,-0.428565,0.671085,0.125915,0.159106,-0.026316,-0.07041,-0.373380,-0.315918,-0.026316,-0.228467,-0.291629,0.335741,-0.105089,-0.073344,0.389399,0.0,1.897726,0.277360,0
25,A274995,1.619519,-1.205590,-0.211670,-0.114731,-0.026316,-0.07041,-0.524674,-0.395511,-0.026316,-0.228467,-0.432364,-0.489576,-0.105089,-0.073344,-0.670117,0.0,-0.259909,-0.944226,0
28,A597289,-0.543354,0.639348,0.215171,-0.114731,-0.026316,-0.07041,0.181364,-0.196529,-0.026316,-0.203211,-0.432364,0.442115,-0.105089,-0.073344,0.645546,0.0,-0.259909,0.579350,1

# Selecci√≥n de variable a predecir

In [20]:
train_X = train.drop('__target__', axis=1)
test_X = test.drop('__target__', axis=1)

train_Y = np.array(train['__target__'])
test_Y = np.array(test['__target__'])

In [21]:
train_X.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum
1715,A125623,0.181631,2.056021,-0.113556,-0.114731,-0.026316,-0.070410,1.684217,-0.395511,-0.026316,-0.228467,0.095390,-0.489576,-0.105089,-0.073344,-0.219919,0.0,-0.259909,-0.149514
724,A082360,-0.229194,-0.784786,-0.014267,-0.114731,-0.026316,-0.055465,-0.363294,-0.355715,-0.026316,-0.228467,0.271309,0.295392,-0.105089,-0.073344,-0.204395,0.0,-0.259909,-0.099561
206,A674688,0.072883,-1.373128,0.073537,-0.114731,-0.026316,-0.070410,-0.524674,-0.156733,-0.026316,-0.169537,-0.256446,-0.489576,1.386292,-0.073344,-0.138418,0.0,-0.259909,-0.583200
1505,A291489,3.093656,-1.119861,-0.433912,-0.114731,-0.026316,-0.070410,-0.534760,-0.355715,-0.026316,-0.228467,-0.432364,0.141333,-0.105089,-0.073344,-1.058218,0.0,-0.259909,-0.780742
342,A127134,0.217881,-0.134740,0.025103,-0.114731,-0.026316,-0.070410,-0.534760,-0.236325,-0.026316,-0.228467,-0.361996,-0.361194,-0.105089,-0.073344,1.429510,0.0,-0.259909,0.374996

In [22]:
test_X.head()

,Asset,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R782_Quantity_sum,R783_Quantity_sum,Quantity_sum
11,A068651,-0.718559,-0.267632,0.233023,0.159106,-0.026316,-0.07041,0.403262,0.480009,-0.026316,-0.228467,0.060207,0.218362,-0.105089,-0.073344,2.415286,0.0,3.695756,1.666970
23,A462792,2.706997,-1.131620,-0.388522,-0.114731,-0.026316,-0.07041,-0.534760,-0.395511,-0.026316,-0.228467,-0.432364,-0.489576,-0.105089,-0.073344,-0.685641,0.0,-0.259909,-0.955579
24,A554078,-0.428565,0.671085,0.125915,0.159106,-0.026316,-0.07041,-0.373380,-0.315918,-0.026316,-0.228467,-0.291629,0.335741,-0.105089,-0.073344,0.389399,0.0,1.897726,0.277360
25,A274995,1.619519,-1.205590,-0.211670,-0.114731,-0.026316,-0.07041,-0.524674,-0.395511,-0.026316,-0.228467,-0.432364,-0.489576,-0.105089,-0.073344,-0.670117,0.0,-0.259909,-0.944226
28,A597289,-0.543354,0.639348,0.215171,-0.114731,-0.026316,-0.07041,0.181364,-0.196529,-0.026316,-0.203211,-0.432364,0.442115,-0.105089,-0.073344,0.645546,0.0,-0.259909,0.579350

In [23]:
print(train_Y)

[1 0 0 ... 1 0 0]

In [24]:
print(test_Y)

[1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 0 0 0 1 1 1 0 1 0 0 1 0 0 1
 1 0 1 1 0 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1
 0 1 0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0 0
 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 1 1
 0 1 0 0 1 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 1 1 1 0 0 1 0 1 0 1 1 1 0 0 1 0 0 0 1 0 0
 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0]

# Modelo para entrenamiento

In [25]:
from sklearn.ensemble import RandomForestClassifier
#def randomForest(train_X, test_X, train_Y, test_Y):
        # Columnas que no aportan nada
if 'Asset' in train_X:
    del(train_X['Asset'])                     # Es el ID
if 'R782_Quantity_sum' in train_X:
    del(train_X['R782_Quantity_sum'])         # Tiene puros ceros
# Now we can finally create our model !
clf = RandomForestClassifier(
    n_estimators=100,
    random_state=1337,
    max_depth=14,
    min_samples_leaf=1,
    verbose=2)
        # ... And train it

In [26]:
%time clf.fit(train_X, train_Y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100
Wall time: 3.29 s

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    2.6s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=14, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1337,
                       verbose=2, warm_start=False)

In [27]:
train_X.head()

,Time_begin_exploitation,Initial_km,nb_km,R044_Quantity_sum,R064_Quantity_sum,R119_Quantity_sum,R193_Quantity_sum,R364_Quantity_sum,R396_Quantity_sum,R417_Quantity_sum,R446_Quantity_sum,R565_Quantity_sum,R575_Quantity_sum,R606_Quantity_sum,R707_Quantity_sum,R783_Quantity_sum,Quantity_sum
1715,0.181631,2.056021,-0.113556,-0.114731,-0.026316,-0.070410,1.684217,-0.395511,-0.026316,-0.228467,0.095390,-0.489576,-0.105089,-0.073344,-0.219919,-0.259909,-0.149514
724,-0.229194,-0.784786,-0.014267,-0.114731,-0.026316,-0.055465,-0.363294,-0.355715,-0.026316,-0.228467,0.271309,0.295392,-0.105089,-0.073344,-0.204395,-0.259909,-0.099561
206,0.072883,-1.373128,0.073537,-0.114731,-0.026316,-0.070410,-0.524674,-0.156733,-0.026316,-0.169537,-0.256446,-0.489576,1.386292,-0.073344,-0.138418,-0.259909,-0.583200
1505,3.093656,-1.119861,-0.433912,-0.114731,-0.026316,-0.070410,-0.534760,-0.355715,-0.026316,-0.228467,-0.432364,0.141333,-0.105089,-0.073344,-1.058218,-0.259909,-0.780742
342,0.217881,-0.134740,0.025103,-0.114731,-0.026316,-0.070410,-0.534760,-0.236325,-0.026316,-0.228467,-0.361996,-0.361194,-0.105089,-0.073344,1.429510,-0.259909,0.374996

In [51]:
test_X = test_X.astype({"Asset":float})
_predictions = clf.predict(test_X)
_probas = clf.predict_proba(test_X)
predictions = pd.Series(data=_predictions, index=test_X.index, name='predicted_value')
cols = [
    u'probability_of_value_%s' % label
    for (_, label) in sorted([(int(target_map[label]), label) for label in target_map])
]
probabilities = pd.DataFrame(data=_probas, index=test_X.index, columns=cols)

# Build scored dataset
results_test = test_X.join(predictions, how='left')
results_test = results_test.join(probabilities, how='left')
results_test = results_test.join(test['__target__'], how='left')
results_test = results_test.rename(columns= {'__target__': 'failure_bin'})

ValueError: could not convert string to float: 'A068651'